<!-- Login Area -->
<div class="bigshop_reg_log_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="login_form mt-50 mb-70">
                    <h5 class="mb-3">Login</h5>
                    <form autocomplete="off">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Usuario" ng-model="cuenta.usuario" azs-length="15">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña" ng-model="cuenta.contrasena" azs-length="15">
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="ingresar()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Area End -->
