<!-- Breadcumb Area -->
<div class="breadcumb_area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h5>Sucursales</h5>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area -->

<!-- Message Now Area -->
<div class="best_rated_onsale_top_sellares mt-30" ng-init="sucursal = 'panama'">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabs_area">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a href ng-click="sucursal = 'panama'" class="nav-link active" data-toggle="tab" role="tab">Panamá</a>
                        </li>
                        <li class="nav-item">
                            <a href ng-click="sucursal = 'chorrera'" class="nav-link" data-toggle="tab" role="tab">La Chorrera</a>
                        </li>
                        <li class="nav-item">
                            <a href ng-click="sucursal = 'toro'" class="nav-link" data-toggle="tab" role="tab">Bocas del Toro</a>
                        </li>
                        <li class="nav-item">
                            <a href ng-click="sucursal = 'chiriqui'" class="nav-link" data-toggle="tab" role="tab">Chiriquí - David</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" ng-class="{'show active': sucursal === 'panama'}">
                            <div class="top_sellers_area">
                                <div class="single-contact-info mb-30">
                                    <i class="fa fa-address-book"></i>
                                    <p>Dirección: calle 2da carrasquilla, Edificio n° 39, de la plaza Durex 50 mts este frente a rapi envios.</p>
                                    <p>Teléfono fijo: 264-0360</p>
                                    <p>WhatsApp: 6253-1742</p>
                                    <p>Horarios de atención:</p>
                                    <p>Lunes a jueves : 9.00 am a 5.45 pm sin cerrar al medio dia</p>
                                    <p>Viernes : 9.00 am a 1.45 pm sin cerrar al medio día </p>
                                </div>
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.7517906940584!2d-79.51730560000001!3d8.9949722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOMKwNTknNDEuOSJOIDc5wrAzMScwMi4zIlc!5e0!3m2!1ses!2scl!4v1605484013726!5m2!1ses!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" ng-class="{'show active': sucursal === 'chorrera'}">
                            <div class="top_sellers_area">
                                <div class="single-contact-info mb-30">
                                    <i class="fa fa-address-book"></i>
                                    <p>Dirección: Urbanización Barrio Matuna, Calle 1e primera este, casa 2635</p>
                                    <p>Teléfono fijo: 345-1581</p>
                                    <p>WhatsApp: 6426-9219</p>
                                    <p>Horarios de atención:</p>
                                    <p>Lunes a jueves : 9.00 am a 5.45 pm sin cerrar al medio dia</p>
                                    <p>Viernes : 9.00 am a 1.45 pm sin cerrar al medio día </p>
                                </div>
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3941.9140489219094!2d-79.77985538521443!3d8.887583293619029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOMKwNTMnMTUuMyJOIDc5wrA0NiczOS42Ilc!5e0!3m2!1sen!2scl!4v1605484148465!5m2!1sen!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" ng-class="{'show active': sucursal === 'toro'}">
                            <div class="top_sellers_area">
                                <div class="single-contact-info mb-30">
                                    <i class="fa fa-address-book"></i>
                                    <p>Dirección: Calle C Sur, Avenida 1a Este</p>
                                    <p>Teléfono fijo: 774-4720</p>
                                    <p>WhatsApp: 6252-9820</p>
                                    <p>Horarios de atención:</p>
                                    <p>Lunes a jueves : 9.00 am a 5.45 pm sin cerrar al medio dia</p>
                                    <p>Viernes : 9.00 am a 1.45 pm sin cerrar al medio día </p>
                                </div>
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7872.1162682857985!2d-82.5182567!3d9.4163006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOcKwMjUnMDYuNyJOIDgywrAzMScxOC41Ilc!5e0!3m2!1sen!2scl!4v1605484166571!5m2!1sen!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade" ng-class="{'show active': sucursal === 'chiriqui'}">
                            <div class="top_sellers_area">
                                <div class="single-contact-info mb-30">
                                    <i class="fa fa-address-book"></i>
                                    <p>Bocas del Toro</p>
                                    <p>Dirección: Empalme, Changuinola, Urbanización Ave 17 de abril, calle principal, Edificio Misión Adventista.</p>
                                    <p>Teléfono fijo: 760-1153</p>
                                    <p>WhtasApp: 6719-5271</p>
                                    <p>Horarios de atención:</p>
                                    <p>Lunes a jueves : 9.00 am a 5.45 pm sin cerrar al medio dia</p>
                                    <p>Viernes : 9.00 am a 1.45 pm sin cerrar al medio día </p>
                                </div>
                                <div class="google-map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.748016636508!2d-82.43224428521768!3d8.426388893940269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zOMKwMjUnMzUuMCJOIDgywrAyNSc0OC4yIlc!5e0!3m2!1sen!2scl!4v1605484182167!5m2!1sen!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Message Now Area -->
