<!-- Breadcumb Area -->
<div class="breadcumb_area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h5>Categorias</h5>
                <div class="col text-right">
                    <button type="button" class="btn btn-warning btn-sm" ng-click="agregar()">Agregar</button>
                    <button type="button" class="btn btn-dark btn-sm" ng-click="actualizar()">Actualizar</button>
                </div> 
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area -->

<div class="shortcodes_area">
    <div class="container">
        <div class="table-responsive">
            <div class="input-group mt-3 mb-3" ng-show="arreglo.sorting">
                <div class="input-group-prepend">
                    <span class="input-group-text">Buscar</span>
                </div>
                <input type="text" class="form-control" ng-model="arreglo.search" ng-change="arreglo.searchPage()">
            </div>
            <table class="table table-bordered table-sm mt-15">
                <thead>
                    <tr>
                        <th width="20%" sorting-column="id">ID</th>
                        <th width="40%" sorting-column="nombre">NOMBRE</th>
                        <th width="20%">ACTIVO</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in arreglo.page">
                        <td width="20%" ng-bind="item.id"></td>
                        <td width="40%" ng-bind="item.nombre"></td>
                        <td width="20%" ng-bind="(item.activo ? 'SI' : 'NO')"></td>
                        <td width="20%">
                            <button class="btn btn-outline-info btn-sm" ng-click="revisar(item.id)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-info btn-sm" ng-click="editar(item.id)">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <div class="row" ng-show="arreglo.count > 0" style="margin: 4px">
                                <div class="col-3" style="padding: 0px;">
                                    <select class="form-control" 
                                            ng-model="arreglo.quantity" ng-options="item for item in arreglo.options" ng-change="arreglo.quantityPage()">
                                    </select>
                                </div>
                                <div class="col-9 text-right" style="padding: 0px;" ng-show="arreglo.count > 0">
                                    <nav>
                                        <ul class="pagination justify-content-end">
                                            <li class="page-item" ng-class="{disabled: arreglo.current <= 0}">
                                                <a class="page-link" ng-click="arreglo.prevPage()">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            <li class="page-item disabled">
                                                <a class="page-link">
                                                    {{arreglo.current}}/{{arreglo.final}}
                                                </a>
                                            </li>
                                            <li class="page-item" ng-class="{disabled: arreglo.current >= arreglo.final}">
                                                <a class="page-link" ng-click="arreglo.nextPage()">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-12" ng-show="arreglo.count === 0">
                                <div class="alert alert-primary text-center">
                                    <h4>Sin Datos</h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="formulario" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formulario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-class="{'form-control': !bloquear, 'form-control-plaintext': bloquear}" 
                                   ng-disabled="bloquear" ng-model="formCategoria.nombre" azs-length="150">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Descripción:</label>
                        <div class="col-sm-10">
                            <textarea rows="3" style="resize: none;" ng-class="{'form-control': !bloquear, 'form-control-plaintext': bloquear}" ng-model="formCategoria.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-check">
                            <input type="checkbox" ng-disabled="bloquear" ng-model="formCategoria.activo" id="categoriaCheck">
                            <label class="form-check-label" for="categoriaCheck">Activar</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="guardar()" ng-hide="opcion === 4">Guardar</button>
            </div>
        </div>
    </div>
</div>